.DS_Store
!.github/valeStyles/*
.github/valeStyles/.DS_Store
.vscode
# Dependency directories
node_modules/
jspm_packages/
# Python cache and directories
**/__pycache__/*
**/.py[cod]
.env
.env.*.local
#